<div class="row section-wrapper" id="all-items-wrapper">
    <h3>All Items</h3>
    <div class="row gallery" id="all-items-gallery">
        {{#each items}}
            <div class="col-sm">
                <div class="card">
                   <label for="img">
                    <img class="card-img-top" src="{{photoUrl}}" alt="Card Image Cap"></label>
                    <div class="card-body">
                        <label for="item-name">
                        <h4 class="card-title">{{name}}</h4></label>
                        <p class="card-text">Item Description</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{dimensions}}</li>
                        <li class="list-group-item">{{era}}</li>
                       <label for="price"> <li class="list-group-item">{{price}}</li></label>
                    </ul>
                    <div class="card-body">
                         <button type="submit" id="delete-button checkout-button">Buy Now</button>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>

</div>

<script src="/javascript/checkout-btn.js"></script>