<section>
  <h2></h2>
<div class="user-profile">
    {{#each users}}
    <ul class="profile-list">
        <li class="list-group-item">{{username}}</li>
        <li class="list-group-item">{{email}}</li>
        <li class="list-group-item">{{first_name}}</li>
        <li class="list-group-item">{{last_name}}</li>
        <li class="list-group-item">{{address}}</li>
        <li class="list-group-item">{{zip}}</li>
    </ul>
{{/each}}
</div>
  
</section>